
body {
    font-family: "Arial", "Open Sans", sans-serif;
}

.metadata {
    margin: 1em 0 1em;
}

.chat-id {
    color: gray;
}

.chat-type {
    color: gray;
}

.members {
    color: gray;
}

.from {
    font-weight: bold;
}

.timestamp {
    color: gray;
}

.message-content {
    margin-left: 2em;
}

.message-reference {
    background-color: lightgray;
    padding: 0.5em;
}

.hosted-content {
    background-color: lightblue;
    padding: 0.5em;
}
